.dashboard-container {
    max-height: 80vh;
    overflow: auto;

    .login-row {
        .chart {
            display: none;
        }
        ul.row {
            li {
                margin: 0 15px;
                span.bg-default {
                    padding: 2px 5px;
                    background-color: #ccc;
                    font-weight: bold;
                    margin-right: 5px;
                    &.higher {
                        color: black !important;
                    }

                    &.lower {
                        color: red !important;
                    }

                    &.none {
                        color: #fff !important;
                    }
                }
            }
        }
    }
    .higher {
        color: black;

        &.failed, &.pending, &.cancelled, &.for_approval, &.for_processing, &.for_otp_verification, &.expired, &.rejected {
            color: red;
        }

        &.success, &.approved, &.processing, &.scheduled, &.released, &.conditional {
            color: black;
        }

    }

    .lower {
        color: red;

        &.failed, &.pending, &.cancelled, &.for_approval, &.for_processing, &.for_otp_verification, &.expired, &.rejected {
            color: black;
        }

        &.success, &.approved, &.processing, &.scheduled, &.released, &.conditional {
            color: red;
        }
    }

    .none {
        color: #fff;
    }
    .info-box {
        flex-flow: column;

        &.bg-card:hover {
            text-decoration: none;
        }
        .info-box-row {
            display: flex;
            flex-flow: row;

            .info-box-icon {
                width: 60px;
                height: 60px;
            }

            &.detail {
                margin: 5px 0;
                padding: 5px 10px;
                justify-content: space-between;
            }
        }
        .info-box-content {
            flex-flow: row;
            justify-content: space-between;
            align-items: center;

            .info-box-text {
                max-width: 55%;
                text-transform: uppercase;
                font-weight: bold;
            }
            .info-box-number {
                margin-top: 0;
                font-size: 1.4rem;
            }
        }
        // .info-box-number {
        //     font-size: 1.1rem;
        // }
    }
}
