.custom-no-record {
    h1 {
        font-size: 1.1vw;
        color: red;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}
.tab-content {
    .table {
        td {
            span {
                white-space: nowrap;
            }
        }
    }
}
.higher {
    color: black;

    &.failed, &.pending, &.cancelled, &.for_approval, &.for_processing, &.for_otp_verification, &.expired, &.rejected {
        color: red;
    }

    &.success, &.approved, &.processing, &.scheduled, &.released, &.conditional {
        color: black;
    }

}

.lower {
    color: red;

    &.failed, &.pending, &.cancelled, &.for_approval, &.for_processing, &.for_otp_verification, &.expired, &.rejected {
        color: black;
    }

    &.success, &.approved, &.processing, &.scheduled, &.released, &.conditional {
        color: red;
    }
}

.none {
    color: #fff;
}

.form-control.form-check {
    padding: 0 20px;
}
