body {
    &:not(.authenticated) {
        &:not(.sidebar-mini-md){
            &:not(.sidebar-mini-xs){
                &:not(.layout-top-nav){
                    .content-wrapper, .main-footer, .main-header {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
.login-container {
    display: flex;
    .background-image {
        background-image: url('../../images/background.jpg');
        width: calc(100vw - 500px);
        height: 100vh;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .form-container {
        width: 500px;
        display: flex;
        align-items: flex-start;
        flex-flow: row;
        justify-content: center;
        form {
            width: 100%;
            padding: 20px 62px;
            margin-top: 100px;
        }
    }
}

