.user-message-container {
    display: none;
}

.dataTables_wrapper {
    @media only screen and (max-width: 1200px) {
        overflow: auto;
    }

    .btn-edit {
        padding: 6px 20px;
        text-transform: uppercase;
    }
}
.confirm-password-container {
    padding: 5px 20px;
}

.no-graph-error {
    font-size: 1.1vw;
    color: red;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}
